.contact-us {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .contact-us h1 {
    color: #f39c12;
  }
  
  .contact-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  
  .contact-form, .contact-info {
    background-color: #fff;
    padding: 50px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    flex: 1;
    max-width: 400px;
    
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: vertical;
  }
  
  .contact-form button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #e0890c;
  }
  
  .contact-info {
    flex: 1;
    max-width: 400px;
  }
  
  .contact-info h2 {
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin-bottom: 20px;
  }
  
  .contact-info a {
    color: #f39c12;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  